<p id="notice"><%= notice %></p>

<div class="row-fluid">
  <div class="span10">
    <h2><%= @patient.name %></h2>
  </div>
  <div class="span2">
  <div class="span6">
    <%= link_to raw('<i class="icon-download" style="color:white"></i>'), 
    export_path(@user,@patient,@invoice), class:"btn btn-primary"%>
    <%= link_to raw('<i class="icon-pencil" style="color:white"></i>'),
    edit_user_patient_invoice_path(@user,@patient,@invoice), class:"btn btn-primary pull-right" %>
  </div>
  <div class="span6"><%= link_to 'Zur체ck', user_patient_invoices_path(@user,@patient), class:"btn btn-block" %></div>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
      <strong>Rechnung <%= @invoice.number %></strong>
      <strong> vom <%= @invoice.date.strftime('%d.%m.%Y') %></strong>
      <strong> &uuml;ber <%=currency(@invoice.sum)%></strong>
    </div>
</div>
<div class="row-fluid">
	<hr>
	<%= render '/patients/information'%>
	<hr>
</div>
<div class="row-fluid">
  <div class="span3 offset9">
    <%= link_to raw('<span style="color:white"><i class="icon-plus"></i>  Kostenposition hinzuf체gen</span>'), new_user_patient_invoice_cost_item_path(@user,@patient,@invoice), class:"btn btn-primary btn-block" %>
  </div>
</div>
<br>
<table class="table">
<% @cost_items.each do |cost_item| %>
  <%@current_costtype = CostType.find(cost_item.costType) %>
  <tr>

<!--(0200) individuelles Vorgespr채ch am 18.12.2012 von  12.00- 13.00 Uhr -->

  	<td class="span7">(<%= @current_costtype.number %>)&nbsp;
  		<%= @current_costtype.title %>
  		&nbsp;am&nbsp;<%= cost_item.date.strftime('%d.%m.%Y')  %>

  		<%if @current_costtype.type_class==CostType::TYPES[1]%>
  			von <%=cost_item.startTime.strftime('%H:%M')%>&nbsp;bis&nbsp;<%= cost_item.endTime.strftime('%H:%M') %>&nbsp;Uhr
  		<%elsif @current_costtype.type_class==CostType::TYPES[2]%>
  			<%=cost_item.quantity%>km
  		<%end%>

  	</td>
    <td class="span2">
      <%if @current_costtype.type_class==CostType::TYPES[2]%>
    	   <%=cost_item.quantity%>x&nbsp;<%=currency(@current_costtype.prize)%>
       <%elsif @current_costtype.type_class==CostType::TYPES[1]%>
         <%=cost_item.quantity%>x&nbsp;<%=currency(@current_costtype.prize)%>
      <%end%>
    </td>
    <td class="span1">
    	<strong>
        <%=currency(cost_item.amount)%>
    	</strong>
    </td>
    <td class="span2"><%= link_to raw('<i class="icon-pencil"></i>'), edit_user_patient_invoice_cost_item_path(@user, @patient, @invoice, cost_item),class:"btn btn-small" %>
      <%= link_to raw('<i class="icon-trash"></i>'), user_patient_invoice_cost_item_path(@user, @patient, @invoice, cost_item), method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-small" %>
    </td>
  </tr>
<% end %>
  <tr>
    <td>
    </td>
    <td>
    </td>
    <td>
        <u><strong><%=currency(@invoice.sum)%></strong></u>
    </td>
  </tr>


</table>
<br>
<div class="row-fluid">
  <div class="span3 offset9">
    <%= link_to raw('<span style="color:white"><i class="icon-plus"></i>  Kostenposition hinzuf체gen</span>'), new_user_patient_invoice_cost_item_path(@user,@patient,@invoice), class:"btn btn-primary btn-block" %>
  </div>
</div>