<div class="row-fluid">
<div class="span3">
	<%= image_tag "child_home.jpg", class:"img-polaroid" %>
</div>
<div class="span6">
	<h1>Willkommen</h1>
	<hr>
	<h2><span class=" icon-check"> Jetzt anmelden und ausprobieren</h2>
</div>

<div class="span3">
<%= form_for("user", :url => user_session_path, class:"form-horizontal span3 offset9") do |f| %>
<div class="controls">
	<%= f.text_field :email, placeholder:"Email", class:"span12"%>
</div>
<div class="control-group">
	<div class="controls">
		<%= f.password_field :password, placeholder:"Passwort", class:"span12" %>
	</div>
	<div class="control-group">
		<div class="controls">
			<div class="pull-right span12">
			<%= f.submit 'Anmelden', class:"btn btn-block btn-primary" %>
			</div>
  		</div>
  	</div>
  	<br>
	<div class="control-group">
		<div class="controls">
			<label class="checkbox">
				<%= f.check_box :remember_me %> angemeldet bleiben
			</label>
		</div>
	</div>
	<%= link_to "Passwort vergessen?", new_password_path('user'), class:"" %>
  	<hr>
	<div class="control-group">
		<div class="controls">
		<div class="row-fluid">
  			<%= link_to "Registrieren", new_user_registration_path, class:"btn span12" %>
  		</div>
		</div>
	</div>
</div>
<%end%>